<div class="grid-container">
  <h1 class="mat-h1"></h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            
         
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          
          <div class="row">
             <div class="col-sm-4" id="firstname">First Name : </div>
             <div class="col-sm-4" id="firstnameid>{{memberData.member_first_name}}</div>
          </div>
          <div id="lastname">Last Name : </div><div id="lastnameid">{{memberData.member_last_name}}</div>
          <div id="pcpname">PCP Name : </div><div id="pcpnameid">{{memberData.member_pcp_name}}</div>
          <div id="plan">Member Medical Plan : </div><div id="medicalplanid">{{memberData.member_medical_plan_name}}</div>
          <div id="dentalplan">Dental Plan: </div><div id="dentalplanid">{{memberData.member_dental_plan_name}}</div>
          <div id="visionplan">Vision Plan: </div><div id="visionplanid">{{memberData.member_vision_plan_name}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
