<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Test
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div id="firstname">First Name : </div><div id="firstnameid">Test First Name</div>
          <div id="lastname">Last Name : </div><div id="lastnameid">Test Last Name</div>
          <div id="pcpname">PCP Name : </div><div id="pcpnameid">Test PCP</div>
          <div id="plan">Member Medical Plan : </div><div id="medicalplanid">Medical Plan Name</div>
          <div id="dentalplan">Dental Plan: </div><div id="dentalplanid">Dental Plan Name</div>
          <div id="visionplan">Vision Plan: </div><div id="visionplanid">Vision Plan Name</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
